@import "main";

$headerHeight: 50px;
$leftAsideWidth: 210px;
$rightAsideWidth: 245px;

//index
$headerIndex: 900;
$rightAsideIndex: 800;

html, body {
  background-color: #e1e2e8;
}

#editor {
  width: 100%;
  height: 100%;

  .ant-spin-nested-loading {
    width: 100%;
    height: 100%;

    .ant-spin-container {
      width: 100%;
      height: 100%;
    }
  }

  .wrapper {
    width: 100%;
    height: 100%;
    padding-top: $headerHeight;
    padding-left: $leftAsideWidth;
    padding-right: $rightAsideWidth;
    position: relative;

    header {
      height: $headerHeight;
      width: 100%;
      line-height: $headerHeight;
      background: #000;
      position: fixed;
      top: 0;
      left: 0;
      z-index: $headerIndex;

      .logo {
        height: 100%;
        width: $leftAsideWidth;
        background-image: url('../images/logo.png');
      }
    }

    .left-aside {
      height: 100%;
      width: $leftAsideWidth;
      position: fixed;
      background-color: #f1f0f6;
      top: 0;
      left: 0;
      z-index: $rightAsideIndex;
      padding: $gap-md + 50px $gap-md $gap-md $gap-md;
      border-right: 1px solid #c3cacf;

      div {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: $gap-sm;
      }
    }

    .content-wrapper {
      width: 100%;
      height: 100%;
      background-color: #dbe2e7;

      .content-wrapper-title {
        width: 100%;
        padding: $gap-md $gap-lg;
        color: #000;
        font-size: 13px;
        @include box-shadow(0 5px 20px 0px rgba(0, 0, 0, 0.1));

        div {
          margin-right: $gap-md;
          display: inline-block;

          &.active {
            color: $mainColor;
          }
        }

        .ant-btn-ghost {
          background: #ffffff;
        }
      }

      .field-panel {
        width: 100%;
        font-size: 13px;
        padding: 0 $gap-md;

        .field-item {
          width: 100%;
          border-bottom: 1px solid #c3cacf;
          padding: $gap-sm $gap-md;

          .ant-tag {
            height: 26px;
            line-height: 25px;
            color: #fff;
            margin: 0 20px 0 0;
            padding-right: 30px;
            border: none;
            border-radius: 0;
            background: linear-gradient(-135deg, transparent 5px, #{$mainColor} 0);
            position: relative;

            i {
              color: #fff;
              font-size: 18px;
              position: absolute;
              right: 8px;
              top: 3px;
            }
          }

          button {
            border-style: solid;
          }

          input {
            height: 28px;
          }
        }

        .field-item-col {
          height: auto;
          padding-right: 85px + $gap-md * 2;
          position: relative;

          .refresh-chart {
            border-radius: 0;
            position: absolute;
            right: $gap-md;
            top: 9px;
          }
        }
      }

      .data-code-panel {
        width: 100%;
        padding: $gap-sm $gap-md 0 $gap-md;
        @include clearfix;

        textarea {
          width: 100%;
          height: 140px;
          resize: none;
          border-radius: 0 !important;
        }

        button {
          float: right;
          margin-top: $gap-sm;
          background: transparent;
          border: none;
        }
      }

      .chart-panel {
        height: calc(100% - 330px);
        width: 100%;
        padding: $gap-sm $gap-md;

        .chart-content {
          width: 100%;
          height: 100%;
          background-color: #fff;

          .e-chart {
            width: 100%;
            height: 100%;
          }

          .table {
            width: 100%;
            height: 100%;

            thead th {
              text-align: center;
            }

            tbody tr {
              text-align: center;
            }
          }

          .unit-value {
            width: 100%;
            height: 100%;
            position: relative;

            div {
              width: 100%;
              line-height: 100%;
              text-align: center;
              @include single
            }

            .unit-value-name {
              font-size: 30px;
              top: 50%;
              margin-top: -1.5em;
              position: absolute;
            }

            .unit-value-value {
              font-size: 26px;
              top: 50%;
              position: absolute;
            }
          }
        }
      }
    }

    .right-aside {
      height: 100%;
      width: $rightAsideWidth;
      padding: $headerHeight 0 0 0;
      position: fixed;
      top: 0;
      right: 0;
      z-index: $rightAsideIndex;
      background-color: #e4e7e9;
      border-left: 1px solid #c3cacf;




      .chart-set-panel {
        height: 100%;
        width: 100%;

        button {
          width: $rightAsideWidth - 2 * $gap-md;
          border-radius: 0;
        }

        hr {
          border: 0;
          border-bottom: 1px solid #d7d7d7;
        }

        .chart-set-save {
          margin: $gap-sm $gap-md;
          background: transparent;
          color: #5290de;
        }

        .chart-set-title-label {
          font-size: 16px;
          padding: $gap-sm $gap-md;
        }

        .chart-set-title {
          margin-top: $gap-xs;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #d7d7d7;
          text-align: center;
          @include border-radius(0)
        }

        .chart-set-select {
          font-size: 16px;
          padding: $gap-sm $gap-md;

          button {
            width: 140px;
            margin: 0 auto;
            display: block;
            color: $mainColor;
            border-color: transparent;
            @include border-radius(5px);

            &:hover {
              border: 1px solid #d9d9d9;
            }

            span {
              padding-left: 1em;
            }
          }
        }

        .chart-set-style {
          padding: $gap-sm $gap-md;

          .ant-form-item {
            margin-bottom: $gap-xs;
          }
        }
      }
    }
  }
}

body .chart-set-select-item {
  div {
    height: 60px;
    width: 80px;
    display: inline-block;
    margin-right: $gap-sm;
    border: 1px solid transparent;
    background-size: 100% 100%;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: $mainColor;
    }
  }

  &.chart-set-select-table {
    .chart-set-select-table {
      background: url("../images/echart-sample-table.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  &.chart-set-select-line {
    .chart-set-select-line-stack {
      background: url("../images/echart-sample-line-stack.png") no-repeat;
      background-size: 100% 100%;
    }

    .chart-set-select-area-stack {
      background: url("../images/echart-sample-area-stack.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  &.chart-set-select-bar {
    .chart-set-select-bar-tick-align {
      background: url("../images/echart-sample-bar-tick-align.png") no-repeat;
      background-size: 100% 100%;
    }

    .chart-set-select-bar-y-category {
      background: url("../images/echart-sample-bar-y-category.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  &.chart-set-select-pie {
    .chart-set-select-pie-simple {
      background: url("../images/echart-sample-pie-simple.png") no-repeat;
      background-size: 100% 100%;
    }

    .chart-set-select-pie-doughnut {
      background: url("../images/echart-sample-pie-doughnut.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  &.chart-set-select-strip {
  }

  &.chart-set-select-filter {
  }

  &.chart-set-select-map {
    .chart-set-select-map-china-dataRange {
      background: url("../images/echart-sample-map-china-dataRange.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  &.chart-set-select-value {
    .chart-set-select-unit-value {
      background: url("../images/echart-sample-unit-value.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}

body .sql-value-modal {
  .ant-form-item-label {
    border-bottom: 1px solid #c3cacf;
    text-align: center!important;
  }

  .ant-input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #c3cacf;
    text-align: center;
  }
}