@import "main";

html, body {
  background-color: #dde1e7;
}

#player {
  height: 100%;

  .ant-spin-nested-loading {
    height: 100%;

    .ant-spin-container {
      height: 100%;

      .layout-panel-scrollbar {

        .react-grid-layout {
          width: 100%;
          height: 100%;
          position: relative;

          .react-grid-placeholder {
            background-color: #d2eafb;
          }

          .react-grid-item {

            &:not(.react-grid-placeholder) {
              z-index: 1;

              .toolbar {
                position: absolute;
                width: auto;
                height: 30px;
                right: 0;
                padding: 6px 10px;
                font-size: 18px;
                display: none;
                color: #777777;
                z-index: 1;

                i {
                  cursor: pointer;
                  float: right;
                  margin-left: 10px;
                }
              }

              .unit-value {
                width: 100%;
                height: 100%;
                position: relative;

                div {
                  width: 100%;
                  line-height: 100%;
                  text-align: center;
                  @include single
                }

                .unit-value-name {
                  font-size: 30px;
                  top: 50%;
                  margin-top: -1.5em;
                  position: absolute;
                }

                .unit-value-value {
                  font-size: 26px;
                  top: 50%;
                  position: absolute;
                }
              }

              &:hover {

                .toolbar {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

.ql-editor {
  padding: 20px;
}

.essos {
  background: #ffffff !important;
}

.infographic {
  background: #ffffff !important;
}

.macarons {
  background: #ffffff !important;
}

.walden {
  background: #ffffff !important;
}

.shine {
  background: #ffffff !important;
}

.walden {
  background: #ffffff !important;
}

.dark {
  background: #333 !important;
  color: #fff;

  thead {

    th {
      background: #333;
      color: #fff;
    }
  }

  .ant-table-title {
    color: #fff;
  }

  tbody {
    color: #fff;
  }
}